body {
    background-color: rgb(25, 23, 23);
    display: flex;
    justify-content: center;
}
.main-box {
    margin-top: 123px;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    border: 1px solid rgb(142, 139, 139);
    box-shadow: 15px white;
    box-shadow: 0 4px 8px 1px rgb(103, 98, 98);
}
.container {
    padding: 20px;
    display: flex;
    margin-top: 150px;
}
button {
    width: 60px;
    height: 60px;
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 50%; 
    background-color: #070707;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 1px 4px 5px 1px rgb(103, 98, 98);
}